*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}
html, body{
    width: 100%;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    background-color: #1e1e1e;
    color: #ffffff;
}


section{
    padding:  50px 0;
        margin-bottom: 50px;
        margin-inline: 20px;
        border-bottom: 2px solid #FFFFFF;
}
/* Your existing CSS styles */

/* Style for the backdrop */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black */
    display: none;
    z-index: 999; /* Higher z-index to overlay other elements */
  }
  
  /* Style for the login pop-up */
  .login-popup {
    position: fixed;
    width: 400px;
    margin-bottom: 15px;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #9D2933;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    display: none;
    z-index: 1000; /* Higher z-index to be on top of the backdrop */
  }
  
  /* Style for the button to open the login pop-up */
  .login-button {
    cursor: pointer;
  }
  
  /* Style for the close button in the login pop-up */
  .close-button {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    /* z-index: 1000; */
  }
  form{
    margin: 30px 0;
  }
  .submit{
    margin-top: 30px;
    width: 100%;
    margin: auto;
    background: #1e1e1e;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 10px;
  }
  
  input{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: x-small;
  }
  /* Your existing CSS styles */
  
.heros-container{
    max-width: 940px;
    margin: auto;

}
 .hero1-container{
     margin-inline: 20px;
     max-width:940px;
     position: relative;
     overflow: visible;
     padding-bottom: 50px;

 }
 .video-container {
     width: 100%;
     padding: 10px;
     overflow: hidden;
     z-index: -1;
    }
    
    video{
        width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
    
    
}

.hero1-contents{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-image: url("../images/Ramen_hero.png");
    object-fit: fill;
    background-repeat: no-repeat;
    height: 100vh;
    
}

.hero1-contents h1{
    
    font-size: 50px;
    text-align: center;
    color: white;
    transition: 0.3s;
    cursor: pointer;
    font-weight: 600;
}
.hero1-contents h1:hover{
    -webkit-text-stroke: 1px white;
    color: transparent;
}
.hero1-contents a {
        padding: 10px;
        color: white;
        border: 1px solid white;
        border-radius: 10px;
        margin: 20px ;
        cursor: pointer;
        transition: 0.5s;
    }
    .hero1-contents a:hover{
    background-color: aliceblue;
    color: #3a3a3a;

}
.hero3-container{
    
    padding: 50px 10px;
    height: 100%;
    width: 100%;
    text-align: center;

    
}
.hero3-flex{
    display: flex;
    align-items: center;
}

.hero3-container h1{
    color: #FFFFFF ;
}
.hero3-flex{
    margin: auto;
}
.hero3-left{
    
    width: 100%;

}
.hero3-left img{
    object-fit: contain;
    width: 100%;
    height: auto;
    padding: 5px;

}
.hero3-right{
width: 100%;
color: #FFFFFF;
padding: 15px;
text-align: left;
}

@media only screen and (max-width: 768px) {
    .login-popup{
        width: 100%;
    }
    .hero1-contents h1{
        font-size: 30px;
    }
    .hero1-logo{
        width: 100px;
    }
    .hero3-flex{
        display: flex;
        flex-direction: column;
    }
    .footer-container{
        display: flex;
        flex-direction: column;
    }
  } 
