@media (min-width: 960px){ 
    /* desktop view */

    #page-container{
        display: flex;
        flex-direction: column;
        margin-inline: auto;
        width: 945px;
        height:auto;
    }
    #contact-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        background-image: url('images/contact_bgc.png');
        background-size: cover;
        width: 945px;
        height: 515px;
        margin-inline: auto;
        margin-top: 10vh;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        justify-content: space-evenly;
    }
    
    .contact-item{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        align-self: center;
        margin-inline: auto;
        place-items: center;
        background-color: white;
        width: 35%;
        height: 45%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        order:1;
    }
    .contact-item img{
        margin-top: 10px;
        width: 15%;
    }

    .contact-item h5,p{
        margin:0;
    }

    .contact-item button {
        padding: 10px;
        color: white;
        background-color: black;
        border: 1px solid black;
        border-radius: 10px;
        margin: 20px ;
        cursor: pointer;
        transition: 0.5s;
    }
    .contact-item button:hover{
        background-color: whitesmoke;
        color: #3a3a3a;
    }
} 
@media (min-width: 450px){
    /* mobile view */
}

body{
    font-family: 'Raleway',sans-serif;
}
