html, body {
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 70px;
    margin:auto;
    text-align: center;
    padding: 50px;
}

.container {
   width: 944px;
   height: 100%;
   margin:auto;
  }
  