*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    font-family: 'Raleway', sans-serif;

}

.navbar{
	border-bottom:1px solid #3a3a3a;
}
.logo-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-weight: 300;
    font-size: 30px;
	cursor: pointer;
    
}
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
a{
    text-decoration: none;
    padding: 5px;
    color: #3a3a3a;
    padding-inline: 10px;

    
}
li{
    margin: 5px;
}
li:hover{
    border-bottom: 1px solid black ;
    width: fit-content;

}
a:hover{
    background-color: aliceblue;
    color: black;
}
.toggle-open{
	display: block;
	cursor: pointer;
	
}
.toggle-close{
	display: none;
	cursor: pointer;
}
.menu-mobile{
	display: none;
}
.nav-buttons{
	display: none;
}
/* .menu-mobile.open {
	display: block;
  } */
@media only screen and (max-width: 768px) {
	/* For mobile phones: */
    ul{
		display: flex;
        flex-direction: column
        ;
    }
    
    .nav-link{
		border-bottom: 1px solid #3a3a3a ;
    }
	.navbar{
		border-bottom:none;
	}
	.menu-desktop{
		display: none;
	}
	.menu-mobile{
		display: none;
	}
	.toggle-open{
		display: block;
		
	}
	.toggle-close{
		display: none;
	}
	.menu-mobile.open {
		display: block;
	}
	  .nav-buttons{
		display: block;
	}

  } 

/* @media screen and (min-width:768px) {
        a{
            border-bottom: none;
        }
}

