*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    font-family: 'Raleway', sans-serif;

}

.mobile{
    background: white;
}
.logo-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-weight: 300;
    font-size: 30px;
    
}
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
a{
    text-decoration: none;
    padding: 5px;
    color: #3a3a3a;
    

    
}
li{
    margin: 5px;
}
li:hover{
    border-bottom: 1px solid black ;
    width: fit-content;

}
a:hover{
    background-color: aliceblue;
    color: black;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    ul{
        display: flex;
        flex-direction: column
        ;
    }
    .menu-mobile{
        -left:50px ;
    }
    a{
        border-bottom: 1px solid #3a3a3a ;
    }
  } 

/* @media screen and (min-width:768px) {
        a{
            border-bottom: none;
        }
}

