body {
    margin: 0;
    background-color: #1e1e1e;
}
@media (max-width:750px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
    img {
        width:30%;
    }
}
@media (min-width:750px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
.menu-container h1 {
    text-align: center;
    color: #ffffff;

}
.grid-container {
    display: grid;
    padding: 10px;
    grid-gap: 10px;
    max-width: 736px;
    margin: auto;
    
    
    .grid-item {
        padding: 1em;
        box-shadow: #ffffff(99, 99, 99, 0.2) 0px 2px 8px 0px;
        font-size: 30px;
        text-align: center;
        background-color: #9d2933;
    }
       
}
img {
    width:100%;
}
html, body {
    width: 100%;
    font-family: 'Raleway', sans-serif;
}
figcaption {
    font-size: 17px;
    font-weight: 300;
    color: #ffffff;
}