body {
    margin: 0;
    background-color: #faf9f6;
}
@media (max-width:750px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
    img {
        width:30%;
    }
}
@media (min-width:750px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
.menu-container h1 {
    text-align: center;
    color: black;

}
.grid-container {
    display: grid;
    padding: 10px;
    grid-gap: 10px;
    max-width: 740px;
    margin: auto;
    
    
    .grid-item {
        padding: 1em;
<<<<<<< HEAD
        border-radius: .3em;
        box-shadow:  10px 30px rgba(0,0,0,0.1);
=======
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
>>>>>>> 2737c01995cec82fe42a8353d8bd80dd4477b30a
        font-size: 30px;
        text-align: center;
        background-color: #ffffff;
    }
       
}
img {
    width:100%;
}
html, body {
    width: 100%;
    font-family: 'Raleway', sans-serif;
}
figcaption {
    font-size: 17px;
    font-weight: 300;
}