body {
    margin: 0;
}
@media (min-width:550px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width:750px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
.menu-container h1 {
    text-align: center;
    color: black;

}
.grid-container {
    display: grid;
    padding: 10px;
    grid-gap: 10px;
    max-width: 740px;
    margin: auto;
    
    
    .grid-item {
        padding: 1em;
        border-radius: .3em;
        /* box-shadow:  10px 30px rgba(0,0,0,0.1); */
        font-size: 30px;
        text-align: center;
    }
       
}
img {
    width:100%;
}
html, body {
    width: 100%;
    font-family: 'Raleway', sans-serif;
}
figcaption {
    font-size: 17px;
    font-weight: 300;
}